@tailwind base;
@tailwind components;
@tailwind utilities;



.grid-container {
  display: grid;
}

.container {
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.inner {
  grid-area: inner-div;
}